header {
    height: auto; 
    padding-bottom: 0vh;
}


/* Apply the gradient to the entire body */
body {
    background: linear-gradient(45deg, #600d0d, #4a299b, #000000, #000000);
    background-size: 200% 200%;
    animation: gradientBackground 10s ease infinite;
    min-height: 100vh;  /* Ensure body stretches full viewport height */
    opacity: 0;
    animation: fadeInUp 1s forwards 0.5s;
}


@keyframes gradientBackground {
    0% {
        background-position: 100% 0%;
    }
    50% {
        background-position: 0% 100%;
    }
    100% {
        background-position: 100% 0%;
    }
}



section.w-full.text-center.mt-12.mb-8 {
    margin-top: 0vh; 
}


@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes gradientBackground {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.project-card {
    transition: transform 0.3s, box-shadow 0.3s;
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}


.video-wrapper {
    clip-path: border-box;
    border-radius: 1rem;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

/* Additional styles already present in your code above */

.arrow-container {
    animation: bounce 1s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-15px);
    }
    60% {
        transform: translateY(-5px);
    }
}

